.bus{
  position: relative;
  /*left: 600px;*/
}

#schoolbus{
  width: 1200px;
  z-index: 2;
}


.kids img{
  position: absolute;
  z-index: -1;
}

#kim{width: 8%; left: 742px; top: 44px;}
#lea{width: 8%; left: 641px; top: 50px;}
#lily{width: 7%; left: 548px; top: 45px;}
#mimi{width: 8%; left: 440px; top: 43px;}
#roy{width: 8%; left: 360px; top: 52px;}
#bob{width: 5%; left: 261px; top: 55px;}
#joan{width: 7%; left: 150px; top: 48px;}
#baby{width: 4%; left: 69px; top: 58px;}
